@import url(http://2.bp.blogspot.com/_PA5tgNCjblA/TGn7xGomcDI/AAAAAAAAAOY/FwxUKRXSIVI/s1600/olympus_mons_on_mars_-_the_largest_volcano.jpg)

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F2.bp.blogspot.com%2F_PA5tgNCjblA%2FTGn7xGomcDI%2FAAAAAAAAAOY%2FFwxUKRXSIVI%2Fs1600%2Folympus_mons_on_mars_-_the_largest_volcano.jpg&f=1)
}


h1 {
    text-align: center
}



form {
    text-align: center
  }

why {
    width: 100px
}